footer
  +flex-box(center, center)
  height: $desktop-footer-height
  background-color: $black-000
  color: $white

+tablet
  footer
    height: $tablet-footer-height

+mobile
  footer
    height: $mobile-footer-height
