name: portfolio
version: '3'
services:
  db:
    image: mysql:9.5
    container_name: portfolio_db
    ports:
      - "3306:3306"
    env_file:
      - ../.env
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    volumes:
      - db_data:/var/lib/mysql

  shadow_db:
    image: mysql:9.5
    container_name: portfolio_shadow_db
    ports:
      - "3307:3306"
    env_file:
      - ../.env
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_SHADOW_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    volumes:
      - shadow_db_data:/var/lib/mysql
    depends_on:
      - db
  app:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    container_name: portfolio_app
    ports:
      - "3000:3000"
    env_file:
      - ../.env
    depends_on:
      - db
      - shadow_db

volumes:
  db_data:
  shadow_db_data: