$desktop-header-height: 100px;
$desktop-footer-height: 100px;
$tablet-header-height: 100px;
$tablet-footer-height: 100px;
$mobile-header-height: 80px;
$mobile-footer-height: 100px;

$breakpoint-mobile: 360px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1280px;

$full-vh: calc(var(--vh, 1vh) * 100);

$theme-color: #FFDAB9;
$theme-sub-color: #522A28;
$background-color: #FFDAB9;


$white: #FFFFFF;

$black-000: #000000;
$black-100: #111111;
$black-200: #222222;
$black-300: #333333;
$black-400: #444444;
$black-500: #555555;
$black-600: #666666;
$black-700: #777777;
$black-800: #888888;
$black-900: #999999;